body, nav, footer{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: rgb(0, 0, 0);
}

.albi img{
  width: 100%
}

.wrapper{
  display: flex;
  flex-direction: row;

  /*Some screens are yuuuuge and it make things awk*/
  max-width: 800px;

  /*center*/
  margin-left: auto;
  margin-right: auto;
}